th, td {
    padding: 4px 10px 4px 0;
    vertical-align: top;
}

tr {
    border-bottom: 1px solid #DDDDDD;
}

table {
    margin-bottom: 1.4em;
    border-collapse: collapse;
    border-spacing: 0;
}
